<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li class="active">404</li>
</ol>

<div class="collection-title">
  <h2 class="p0 m0 center">
    404 Page not found
  </h2>
</div>

<div class="page-content center">
  <p class="m25">Looks like the page you're looking for does not exist.</p>
  <a href="/collections/all" class="button clr2">&larr; Continue shopping</a>
</div>