.menu {
    .reset { display:flex !important; align-items:center; justify-content:center; }
}

.nav-menu {
    .bar { width:4rem; height:.5rem; background-color:$teal; margin-bottom:.75rem; border-radius:30rem; }
}

.mm-menu > .mm-panel { background-color:$teal; }

#nav-menu {
    .icon-social a { font-size:2.5rem; }
    ul li { margin-bottom:1rem;
        &:after { border:none; }
        a { font-size:3rem; text-transform:uppercase; }
        .mm-subopen:before { border:none; }
    }
    .mm-list a.mm-subopen { width:100%;
        + a { margin-right:10rem; }
        &:after { content:''; width:1.5rem; height:1.5rem; }
        &:before { display:block; content:''; font-size:1.75rem; height:1.75rem; position:absolute; right:2rem; margin-top:.7rem; }
    }
    .mm-list a.mm-subclose { display:flex; align-items:center; justify-content:flex-start; padding-left:5rem; font-size:1.75rem; padding-bottom:1.5rem;
        &:before { content:''; width:1.5rem; height:1.5rem; }
    }
}

.menu { border:none !important;
    &>ul li:hover { background:$teal !important;
        a { color:black !important; }
    }
}

.rte { padding:0 2rem; }
.container { max-width:1200px !important; }

#cart {
    a, .icon-cart { font-size:1.75rem !important; }
}

.sub-nav { width:20rem !important; padding-bottom:0 !important; position:absolute; left:calc(50% - 10rem); text-align:center;
    ul { display:flex; align-items:center; justify-content:center; flex-direction:column; border-left:none !important; padding:0 !important;
        li { background-color:white; width:100% !important; border-right:none !important; transition:.3s background-color ease; text-align:center !important;
            a { color:black; }
            &:hover { background-color:$teal !important; transition:.3s background-color ease;
                a { color:white !important; }
            }
        }
    }
}
