$teal:#21A3A2;
$orange:#FE3A14;
$content-margin:2rem;
.content-margin-small { margin-bottom:$content-margin/2; }
.content-margin { margin-bottom:$content-margin; }
.content-margin-large { margin-bottom:$content-margin*2; }

h4 { font-size:2rem !important; text-transform:uppercase !important; }

.text-center { text-align:center; }

.pin .image { position:relative;
    .image-hover { display:none; }
    .shop-now { display:none; }
}

a:hover { text-decoration:none !important; }

.container { width:100% !important; }

.newsletter-form { display:flex; align-items:center; justify-content:center; }

.padding {
    &_small { padding:1rem; }
    &_medium { padding:2rem; }
    &_large { padding:4rem; }
}

.shopify-preview-bar { display:none; }
