$teal:#21A3A2;
$orange:#FE3A14;
$content-margin:2rem;
.content-margin-small { margin-bottom:$content-margin/2; }
.content-margin { margin-bottom:$content-margin; }
.content-margin-large { margin-bottom:$content-margin*2; }

* { font-family:Arial !important; }

h4 { font-size:2rem !important; text-transform:uppercase !important; }

body { overflow-x:hidden; }

.text-center { text-align:center; }

.pin .image { position:relative;
    .image-hover { display:none; }
    .shop-now { display:none; }
}

a:hover { text-decoration:none !important; }

.container { width:100% !important; }

.newsletter-form { display:flex; align-items:center; justify-content:center; }

.padding {
    &_small { padding:1rem; }
    &_medium { padding:2rem; }
    &_large { padding:4rem; }
}

.content-margin {
    &-small { margin-bottom:1rem; }
    &-medium { margin-bottom:2rem; }
    &-large { margin-bottom:4rem; }
}

.shopify-preview-bar { display:none; }

section { padding:4rem 0;
    &#shopping-cart { padding:0; }
}

.text {
    &-center { text-align:center; }
}

.video-wrapper { padding:4rem 1rem; text-align:center;
    iframe { max-width:100% !important; margin-bottom:2rem; }
}

.uppercase { text-transform:uppercase; }

.link-color {
    &_white a { color:white !important; }
}

.text-color {
    &_white { color:white !important; }
}

.font-size {
    &_2 { font-size:2rem; }
}

.cover { background-size:cover; background-position:center center; background-repeat: no-repeat; }

#body-banner { padding-bottom:30rem; position:relative;
    .body-title { position:absolute; height:100%; width:100%; display:flex; align-items:center; justify-content:center; z-index:2; top:0; left:0;
        p { font-size:1.75rem; }
    }
    &:before { content:''; width:100%; height:100%; position:absolute; top:0; left:0; background-color:rgba(10, 10, 10, 0.4); }
}

// .grid-sizer, .grid-item { width:100%; }
.grid-item { margin:1rem 0;
    img { width:100%; }
}

#project-container > li {
border: 1px solid red; /* !test */
}

// #evm-hover-li, #evm-hover-li { height:200px !important; }
// .evm_img_div img { height:200px !important; width:200px; }

#evm-insta { display:flex; justify-content:center;
    #evm-instagram { width:100vw; margin:0 auto;
        @include breakpoint(800px) { width:75vw; margin:0 auto; }
    }
    #evm-hover-li img { height:100%; }
}

$masonry-css-column-gap:$global-margin;

#project-container { column-count:1; column-gap: $masonry-css-column-gap; margin:$masonry-css-column-gap*6;
    @include breakpoint(400px) { column-count: 2; }
    @include breakpoint(600px) { column-count: 3; }
    @include breakpoint(800px) { column-count: 4; }
    // @include breakpoint(1100px) { column-count: 5; }
}

.project-item { break-inside:avoid; margin-bottom:$masonry-css-column-gap; position:relative; width:100%; height:100%;
    img { width:100%; }
    .grey-overlay { width:100%; height:100%; position:absolute; background-color:rgba(10, 10, 10, 0.4); display:flex; align-items:center; justify-content:center; top:0; left:0; padding:1rem; }
    &.hovermq .grey-overlay { opacity:0; transition:.3s opacity ease; }
    &:hover .grey-overlay { opacity:1; transition:.3s opacity ease; }
}



.full-link { display:block; width:100%; height:100%; }

.newsletter-footer { display:flex; flex-direction:column; }

.breadcrumb { display:none; }

#shopify-section-header { margin-bottom:4rem; }

#accessories {
    p, .p-desc { display:none !important; }
    div { margin-bottom:1rem; }
}

.video-small { display:flex; align-items:center; justify-content:center; flex-direction:column; }
.video-large { display:none; }
@include breakpoint(767px) {
    .product { display:flex; }
    .video-small { display:none; }
    .video-large { display:flex; align-items:center; justify-content:center; flex-direction:column; }
}

.flex-column { display:flex; align-items:center; justify-content:center; flex-direction:column; }
