<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li>Change Password</li>
</ol>

<div class="collection-title">
  <h2 class="p0 m0 center">
    Create a new password
  </h2>
</div>

<div class="customer-template mid">
  <p>Enter a new password for {{ email }}</p>

  {% form 'reset_customer_password' %}
    {{ form.errors | default_errors }}

    <div id="password" class="form-group">
      <label class="large" for="password">Password</label>
      <input type="password" value="" name="customer[password]" id="customer_password" class="large password" size="16" />
    </div>
    <div id="password_confirm" class="form-group m30">
      <label class="large" for="password_confirmation">Password Confirmation</label>
      <input type="password" value="" name="customer[password_confirmation]" id="customer_password_confirmation" class="large password" size="16" />
    </div>
    <div class="form-group">
      <button type="submit" class="button clr2">Reset Password</button>
    </div>
  {% endform %}
</div>
